
<% if(success && success.length) { %> 
    <div style="margin:5px auto; width: 70%;" class="alert alert-success alert-dismissible fade in show" role="alert">
        <%= success %> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
    
    
    <% if(error && error.length) { %> 
        <div style="margin:5px auto; width: 70%;" class="alert alert-danger alert-dismissible fade in show" role="alert">
            <%= error %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <script src="/javascripts/dismissalert.js"></script>