<link rel="stylesheet" href="/stylesheets/navbar.css">


<footer class="footer py-3 mt-auto">
    <div class="container">
        <span class="text-muted">
                &copy; 2021 Loctech Online Exam Software
                <a href="https://github.com/PromiseUdo/Loctech-Exam-Engine" target="_blank">   <i class="fab fa-github"></i></a>
                
        </span>

    </div>
</footer>