<link rel="stylesheet" href="/stylesheets/navbar.css">

<nav class="navbar sticky-top navbar-expand-lg navbar-dark main-nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="/candidate">LOCTECH Exams</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
         </div>
        <div class="navbar-nav move-right">
          <% if(!currentStaff) { %> 
            <!-- <a class="nav-link" href="/login" >Login</a> -->
            <a class="nav-link" href="https://loctechng.com/scholarship-2021/" target="_blank" ><i class="fad fa-user-plus"></i> Sign Up</a>
            
          <% } else { %> 
              <a class="nav-link" href="" >Hi <%= currentStaff.username %>!</a>

              <% if(currentStaff.role !="admin") {%> 
                  <a class="nav-link">Time Left: <span style="color: white; font-weight: bold;" id="exam-timer"></span></a>
              <% } %> 

              <a class="nav-link" href="/staff/logout" >Logout <i class="fad fa-sign-out-alt"></i></a>
          <% } %> 
        </div>
      </div>
    </div>
  </nav>


  