<% layout('layouts/boilerplate') %> 
<link href="/stylesheets/home.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-6 home-img-container">
            <img src="/assets/img/exams.png" alt="Exam picture" class="home-img">
        </div>

        <div class="col-md-6 home-text">
            <div>
                <h1 class="home-title">Loctech Exams <br>Engine</h1>
                <p class="home-subtitle">Manage All Your Exams & Results <br>From One Place</p>
                <a href="/staff/register" class="btn btn-primary">Register As Staff</a>
                <a href="/staff/login" class="btn btn-secondary">Login As Staff</a><br>
                <a href="/candidate/login" class="btn btn-secondary mt-3">Login As Candidate</a>

            </div>
        </div>
    </div>
</div>

