<% layout('layouts/boilerplate') %> 
<link href="/stylesheets/home.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-6 home-img-container">
            <img src="/assets/img/exams.png" alt="Exam picture" class="floating home-img">
        </div>

        <div class="col-md-6 home-text">
            <div>
                <h1 class="home-title">Welcome To Loctech <br> Exams Software</h1>
                <a href="/candidate/login" class="btn btn-secondary mt-3">Login With Your Credentials</a>

            </div>
        </div>
    </div>
</div>

