<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/running.css">


<div class="container p-2 mt-3">
    <div class="row">
        <div class="col-sm-6" style="margin:auto">
          <div class="card exam-title mt-3">
            <div class="card-body">
              <h2 class="card-title"><%= exam.name %></h2>
              <p>Question: <span id="question-num"></span> of <span id="total-question-num"></span></p>
              <button style="display: none;" id="duration" value="<%=exam.duration %>"></button>                

            </div>
          </div>
        </div>
    </div>



                <div class="row">
                    <div class="col-sm-6" style="margin:auto">
                      <div class="card mt-2 question-details">
                        <div class="card-body question-body">
                          <p class="card-title" id="question"></p>
                          <p class="card-text">
                              
                            <div id="choices" class="choices">
                              <div>
                                  <span class="opt">A.</span>    <span id="A" class="answer"> </span>
                              </div>
                              <div>
                                  <span class="opt">B. </span>  <span id="B" class="answer"></span>
                              </div>
                              <div>
                                  <span class="opt">C.</span>   <span id="C" class="answer"></span>
                              </div>
                              <div>
                                  <span class="opt">D.</span>   <span id="D" class="answer"></span>
                              </div>

                          </div>
                          </p>



                        </div>
                      </div>
                    </div>
                </div>
</div>
<script src="/javascripts/running.js"></script>






