<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/thankyou.css">

<header>
	<div class="container">

		

	</div>
</header>

<main>
	<div class="container">

		<section class="thankyou">
			<h1 class="display-1">Thank you!</h1>

			<p>
				Your answers have been submitted successfully.<br><strong>We will get back to you shortly!</strong>
			</p>
		</section>


	</div>
</main>

<footer style="margin: auto;">
	<div class="container">
		

		<hr />

		<div class="copyright">
			<div class="social-links">
				<ul>
					<li><a href="" class="social-link"><i class="fa fa-instagram"></i></a></li>
					<li><a href="" class="social-link"><i class="fa fa-facebook"></i></a></li>
					<li><a href="" class="social-link"><i class="fa fa-twitter"></i></a></li>
					<li><a href="" class="social-link"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>