<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/login.css">

<div class="container justify-content-center align-items-center mt-1">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <img src="images/loctech.png" alt="" class="company-logo">
            <h2>Online Exam Portal</h2>
            <div class="card shadow">
                <!-- <img src="https://images.pexels.com/photos/734983/pexels-photo-734983.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="card-img-top"> -->
                <div class="card-body">
                    <h5 class="card-title">Staff Register</h5>
                    <form action="/staff/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <input class="form-control" type="text" id="username" name="username" placeholder="Username" required autofocus>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="email" id="email" name="email" placeholder="Email" required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>

                        <div class="mb-3">
                            <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="mb-3 hide">
                            <select  type="hidden" class="form-control" name="role" id="role">
                                <option value="admin">Admin</option>    
                            </select>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-success">Sign Up <i class="fas fa-user-plus"></i></button>
                        </div>
                    </form>


                </div>
            </div>
            <small class="text-center copyrightMsg">&copy; 2021 Loctech Online Exam Software</small><br/>
            <small class="mt-4 text-center">Already on the App? <a href="/staff/login" class="fw-bold login-register-link">Login</a></small>
        </div>
    </div>
</div>
